<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mmmut">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MMMUT">
        <activity
            android:name=".TheUniversity"
            android:exported="false" />
        <activity
            android:name=".ResearchADevelopment"
            android:exported="true"></activity>
        <activity
            android:name=".CampusFacutly"
            android:exported="true"></activity>
        <activity
            android:name=".TandP"
            android:exported="true" />
        <activity
            android:name=".ExaminationResult"
            android:exported="true" />
        <activity
            android:name=".CarrerActivity"
            android:exported="false" />
        <activity
            android:name=".RatingBarActivity"
            android:exported="true" />
        <activity
            android:name=".NAAC"
            android:exported="true" />
        <activity
            android:name=".UploadDocss"
            android:exported="true" />
        <activity
            android:name=".TimeTable"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".HeaderActivity"
            android:exported="true" />
        <activity
            android:name=".ProfilePic"
            android:exported="false"
            android:theme="@style/mnt" />
        <activity
            android:name=".Acadmics"
            android:exported="false" />
        <activity
            android:name=".Appsetting"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Poper"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/mnt"></activity>
    </application>

</manifest>